.hours-discount{
   background-image: url("https://i.pinimg.com/736x/df/dd/b6/dfddb69a5bd8c705e4925fee461b9e40.jpg");
   
}
.sale-label{
    transform: rotate(-44deg);
    top:16px;
    left:-35px;
    text-align: center;
    width: 150px;
    height: 40px;
}
.open-event{
    background: radial-gradient(circle, rgba(243,251,255,1) 0%, rgba(78,210,230,0.9934348739495799) 35%, rgba(25,166,236,1) 100%);
}